body {

font-family: Arial, sans-serif;
text-align: center;
background-color: #f4f4f4;
margin: 0;
padding: 20px;
background-image: url("istockphoto-1131811115-612x612.jpg");
}

.container {

background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
max-width: 400px;
margin: auto;

}

h2 {

color: #333;

}

input, select, button {

width: 100%;
padding: 10px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;



}

input, select: hover {
transform: scale(1.30);
}

button {

background-color: blue;
color: white;
border: none;
cursor: pointer;
transition: 0.6s;


}

button:hover {

background-color: darkblue;
transform: scale(1.30) rotate(360deg);

}

h3 {
display: inline-block;
font-size: 18px;
font-weight: bold;
margin-top: 10px;
color: green;
transition: 0.6s;
}

h3:hover {
background: White;

transform: scale(3) rotate(360deg);
}