<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>
<form method="post" action="/food_menu/">
  <div>Тип: <select name="type">
{% for type_ in types %}
    <option value="{{type_['value']}}" {% if type_['value'] == type_name %} selected {% endif %}>{{ type_['name'] }}</option>
    {% endfor %}
  </select></div>
    <div>Складність: <select name="Complexity">
{% for complexity_ in complexities %}
    <option value="{{complexity_['value']}}" {% if complexity_['value'] == complexity %} selected {% endif %}>{{ complexity_['name'] }}</option>
    {% endfor %}
    </select></div>

<button type="submit" name="action" class="btn btn-success">вибрати</button>
</form><br>
{% for food in selected %}
<div>{{food["назва"]}}</div>

{% endfor %}

</body>
</html>