<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>spider man</title>
</head>
<body>
    <h1>Людина павук</h1><br>
    <img src="/spiderMan/image"><br>
    Фізичні характеристики та суперздібності
    <ul>
        <li>Надлюдська сила: Здатний піднімати вагу, значно більшу за людську норму, та боротися з потужними супротивниками.</li>
        <li>Надлюдська швидкість та спритність: Має блискавичну реакцію, що дозволяє йому ухилятися від куль та атак.</li>
        <li>Чіпляння до поверхонь (повзання по стінах): Може прилипати до будь-якої твердої поверхні (стіни, стелі, гладке скло) завдяки електростатичному зчепленню.</li>
        <li>Павуче чуття (Spider-Sense): Передчуття небезпеки. Воно спрацьовує як інстинктивне поколювання в потилиці, попереджаючи про загрозу за мить до її виникнення.</li>
        <li>Прискорене зцілення: Здібний відновлюватися від травм швидше, ніж звичайна людина.</li>
        <li>Витривалість: Може витримувати значні фізичні навантаження протягом тривалого часу.</li>
    </ul><br>
    <p>Основним заняттям Людини-павука є боротьба зі злочинністю та захист невинних мешканців Нью-Йорка від різноманітних загроз, починаючи від дрібних вуличних грабіжників і закінчуючи масштабними планами суперлиходіїв, таких як Зелений гоблін, Доктор Восьминіг або Веном. Він використовує свої надлюдські здібності та саморобну павутину, щоб патрулювати місто, швидко реагувати на надзвичайні ситуації та знешкоджувати злочинців, часто балансуючи на межі між героїчними обов'язками та своїм повсякденним життям як Пітер Паркер. У цивільному житті Пітер Паркер, як правило, працює фотографом (найчастіше для газети Daily Bugle), студентом або науковим співробітником, намагаючись заробити гроші, оплатити рахунки та підтримувати свою тітку Мей, що постійно створює конфлікт між його альтер-его та особистим життям.</p>
</body>
</html>