<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>
<h1>форма знайомства</h1>
<form action="/submit/" method="post">
    <label>введіть ім'я</label><br>
    <input type="text" name="name" required><br>
    <label>введіть вік</label><br>
    <input type="text" name="age" required><br>
    <label>введіть олюблний колір</label><br>
    <input type="text" name="color" required><br>
    <button type="reset" class="btn btn-warning">Скинути</button>
    <button type="submit" class="btn btn-success">Відправити</button>
</form>


</body>
</html>