<!DOCTYPE html>
<html lang="uk">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Конвертер одиниць</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h2>Конвертер одиниць</h2>
<form method="post">

<input type="number" name="value" placeholder="Введи число" required step="any">

<select name="from_unit">

<option value="cm">Сантиметри</option>
<option value="m">Метри</option>
<option value="km">Кілометри</option>
<option value="inch">Дюйми</option>
<option value="foot">Фути</option>
    <option value="kg">клограми</option>
    <option value="g">грами</option>
    <option value="lb">фунт</option>
    <option value="oz">унція</option>

</select>

<select name="to_unit">

<option value="cm">Сантиметри</option>
<option value="m">Метри</option>
<option value="km">Кілометри</option>
<option value="inch">Дюйми</option>
<option value="foot">Фути</option>
    <option value="kg">клограми</option>
    <option value="g">грами</option>
    <option value="lb">фунт</option>
    <option value="oz">унція</option>

</select>

<button type="submit" name="button">Конвертувати</button>

</form>

{% if result is not none %}

<h3>Результат:<br>{{ result }}</h3>

{% endif %}
<button type="submit" name="button" value="add_fruit">дізнатися більше...</button>
</div>

</body>
</html>
